<head>
    <%- include ('../partials/head.ejs') %>
        <title>My Entries</title>
</head>

<body>
    <%- include ('../partials/header.ejs') %>
        <h1>My Entries</h1>
        <ul>
            <% for (let entry of entries ) { %>
                <li>
                    <a href="/entries/<%=entry.id%>">
                        <%=entry.title%>
                    </a>
                    <img src="<%=entry.image%>" alt="<%=entry.title%>">
                </li>
                <% } %>
        </ul>
        <a href="/entries/new">Create a new Entry</a>
</body>

</html>