<head>
    <%- include ('../partials/head.ejs') %>
        <title>
            <%=entry.title%>
        </title>
</head>

<body>

    <h1>
        <%=entry.title%>
    </h1>
    <h2>
        <%=entry.author%>
    </h2>
    <p>
        <%=entry.genre%>
    </p>
    <p>
        <%=entry.rating%>/5
    </p>
    <img src="<%=entry.image%>" alt="<%=entry.name%>">
    <p>
        <%=entry.notes%> <br>
            <%=entry.date%>
    </p>

</body>

</html>